body {}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    margin-left: 2%;
}

.half-width img {
    width: 80%;
}

h1 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}