body {
    font-family: 'Chivo Mono', monospace;
    margin: 0;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.top-banner {
    background-image: url(images/top-banner.png);
}

h1 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.half-width {
    width: 50%;
    margin-left: 2%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
    border-radius: 10px;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack {
    border-left: 7px solid orangered;
}

#baby {
    border-left: 7px solid blue;
}